# Allow creating /sdcard symlinks
allow init tmpfs:lnk_file create_file_perms;

# Allow debugfs to mount
allow init debugfs:dir mounton;

# Allow mounting /per
allow init oemfs:dir mounton;
